html{
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

body {
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  font-family: 'MuseoModerno', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.container{
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid{
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.title {
  font-size: 30px;
  line-height: 35px;
  padding-bottom: 15px;
  position: relative;
  margin-bottom: 30px;
  margin-left: 65px;
  
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 4px;
    background-color: $orange;
  }
}

.top__wrapper {
  background-color: #41538f;
  padding: 40px 0;
  padding-bottom: 100px;
}