%img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%bgi {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: -1;
}