@import "fonts";
@import "libs";
@import "vars";
@import "mixins";
@import "global";

.header {
  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__top-search {
    margin-right: 60px;
  }
  &__top-user {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 25px;
      height: 25px;
    }
  }
  &__top-box {
    display: flex;
    width: 315px;
  }
  &__top-cart {
    padding: 10px 30px;
    background-color: $blue;
    border: 3px solid #fff;
    border-radius: 50px;
    font-size: 18px;
    padding-left: 80px;
    position: relative;
    @extend %img;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/cart-plus.svg");
      left: 30px;
      width: 32px;
      height: 32px;
      @extend %img;
      background-size: contain;
    }
    &.mobile {
      display: none;
    }
  }
  &__top-search {
    &.mobile {
      display: none;
    }
    position: relative;
    max-width: 700px;
    width: 100%;
    input {
      width: 100%;
      border: none;
      border-radius: 50px;
      height: 50px;
      padding: 10px 30px;
      font-size: 16px;
      color: #000;
      background-color: #fff;
      &::placeholder {
        font-size: 16px;
        color: #000;
      }
    }
    a {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 5px;
      top: 5px;
      background-color: $blue;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }
  &__top-input__btn img {
    width: 20px;
    height: 20px;
  }
  .logo {
    margin-right: 80px;
  }

  &__nav {
    margin-top: 45px;
  }
  &__nav-menu {
    display: none;
  }
  &__nav-list {
    display: flex;
  }
  &__nav-item {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 12px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 55px;
      height: 3px;
      background-color: $orange;
    }
  }
  &__nav-item + &__nav-item {
    margin-left: 50px;
  }
}

.top {
  margin-top: 100px;
  &__inner {
    padding-left: 65px;
  }

  &__slider {
    padding-bottom: 50px;
  }
  &__slider-img {
    position: relative;
  }
  &__slider-bg {
    width: 100%;
    height: 100%;
  }
  &__slider-main {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__slider-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__slider-content {
    max-width: 700px;
  }
  &__slider-title {
    font-size: 64px;
    line-height: 70px;
  }
  &__slider-subtitle {
    font-size: 52px;
    line-height: 60px;
    color: $orange;
    margin-bottom: 50px;
  }
  &__slider-text {
    max-width: 550px;
    font-weight: 300;
  }

  .slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    button {
      font-size: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #fff;
    }

    li.slick-active button {
      background-color: $orange;
    }
    li + li {
      margin-left: 23px;
    }
  }
}

.services {
  padding: 50px 0 65px;
  &__title {
    color: $blue;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    background-color: $orange;
    width: 320px;
    height: 215px;
    margin-bottom: 30px;
    padding: 25px;
    position: relative;
    transition: all 0.3s;

    &:hover {
      background-color: $blue;
    }
  }
  &__item-text {
    position: absolute;
    left: 25px;
    bottom: 25px;
    line-height: 24px;
  }
  &__item-img img {
    position: absolute;
    right: 0;
    top: 15px;
  }
  &__item-img.center img {
    left: 50%;
  }
}

.about {
  background-image: url("../images/about-bg.jpg");
  @extend %bgi;
  padding: 80px 0 100px;
  margin-bottom: 75px;

  &__inner {
    display: flex;
    align-items: center;
  }
  &__content {
    max-width: 700px;
    margin-right: 150px;
  }

  &__text-paragraph {
    margin-bottom: 30px;
    font-weight: 300;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
  }

  &__info-item {
    width: 230px;
    height: 230px;
    border: 3px solid #fff;
    text-align: center;
    padding: 55px 10px;
    &.white {
      background-color: #fff;
      color: $blue;
    }
  }
  &__info-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 70px;
    z-index: 100;
    margin: 0 auto;
  }
  &__info-text {
    margin-top: 25px;
  }
}

.testimonials {
  background-color: #7399c1;
  padding: 45px 0;
  margin-bottom: 70px;
  &__title::before {
    background-color: #fff;
  }

  &__inner {
    background-color: #fff;
  }
  &__counter {
    margin-left: 15px;
    color: #000;
    font-weight: 400;
    margin-bottom: 15px;
    span {
      color: #ccc;
    }
  }
  &__reviews {
    padding: 0 15px;
  }
  &__reviews-item {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-left: 75px;
    &:last-child {
      border-bottom: 0;
    }
  }

  &__item-nickname {
    color: #5281b9;
    margin-bottom: 12px;
  }
  &__item-text {
    margin-bottom: 12px;
    color: #000;
    font-weight: 300;
  }
  &__item-btn {
    background-color: #5281b9;
    color: #fff;
    padding: 5px 35px;
    border-radius: 5px;
  }

  &__footer {
    border-top: 1px solid #ccc;
    padding: 10px;
    span {
      margin-left: 210px;
      color: #5281b9;
      font-weight: 400;
      padding: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-image: url("../images/icons/comment.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 13px;
        height: 13px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &::after {
        content: "";
        position: absolute;
        background-image: url("../images/icons/angle-right.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.location {
  margin-bottom: 120px;
  &__title {
    color: $blue;
  }
  &__map iframe {
    width: 100%;
    height: 400px;
    background-color: #fdfaf2;
  }
}

.footer {
  background-color: #13171d;
  padding: 50px 0;

  .logo img {
    width: 80%;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copy {
    margin-left: 30px;
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__social {
    display: flex;
    align-items: center;
  }
  &__social-text {
    margin-right: 20px;
  }
  &__social-list {
    display: flex;
    max-width: 150px;
    width: 100%;
    justify-content: space-between;
    margin-right: 30px;
  }
  &__social-box {
    display: flex;
  }
  &__social-link {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #6f45cc;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background-image: url("../images/icons/instagram.svg");
      background-size: contain;
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.vk {
      background-color: #4c6c91;
      &::before {
        top: 55%;
        background-image: url("../images/icons/vk.svg");
      }
    }
    &.instagram {
      &::before {
        left: 55%;
      }
    }
    &.facebook {
      background-color: #3b5998;
      &::before {
        left: 53%;
        background-image: url("../images/icons/facebook-f.svg");
      }
    }
    &.twitter {
      background-color: #55acee;
      &::before {
        background-image: url("../images/icons/twitter.svg");
      }
    }
    &.youtube {
      background-color: red;
      &::before {
        top: 55%;
        width: 18px;
        height: 18px;
        background-image: url("../images/icons/youtube.svg");
      }
    }
    &.telegram {
      background-color: #34abdf;
      &::before {
        background-image: url("../images/icons/telegram-plane.svg");
      }
    }
  }
  &__social-item {
    margin-left: 8px;
    margin-bottom: 5px;
  }
}

.breadcrumbs {
  margin-top: 15px;
  margin-bottom: 20px;
  &__list {
    display: flex;
  }
  &__item {
    a {
      padding-right: 20px;
      margin-right: 6px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("../images/icons/angle-right.svg");
        width: 15px;
        height: 15px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    font-size: 14px;
    color: #14171e;
  }
}

.filter {
  &__inner {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 310px;
    background-color: #d3e5ff;
  }

  &__item {
    font-size: 18px;
    line-height: 36px;
    color: #152873;
    a {
      display: block;
      width: 100%;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }

  &__item-link {
    padding-left: 50px;
  }

  &__item-link.active {
    background-color: #b3d0fb;
  }
  &__item-dropdown {
    display: none;
    &.open {
      display: block;
    }
  }
  &__item-dropdown a {
    padding-left: 70px;
  }
  &__item-dropdown a.active {
    background-color: #e0ecff;
  }
}

.catalog {
  color: #14171e;
  width: 100%;

  &-wrapper {
    margin-bottom: 50px;
  }
  &-wrapper__inner {
    display: flex;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 40px;
    margin-bottom: 30px;
  }
  &__filter-buttons {
    display: flex;
    button {
      margin-right: 5px;
      width: 40px;
      height: 30px;
      background-color: $blue;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
      }
      &:last-child {
        padding-top: 4px;
        align-items: start;
      }
    }
  }
  &__filter-dropdowns {
    display: flex;
  }
  &__filter-dropdown {
    display: flex;
    span {
      margin-right: 10px;
    }
    .dropdown {
      width: 170px;
      height: 30px;
      border: 1px solid #cad5eb;
      margin-right: 30px;
      font-size: 12px;
      font-weight: 700;
      padding: 0 10px;
    }
  }
  &__filter-link {
    color: $blue;
    font-weight: 300;
  }

  &__title {
    color: $blue;
    margin-left: 40px;
  }
  &__inner {
    display: none;
  }
  &__inner.open {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
  }
  &__item {
    margin-bottom: 30px;
    margin-right: 20px;
    padding: 30px;
    border: 1px solid #cad5eb;
    max-width: 310px;
    z-index: 0;
  }
  &__item-title {
    font-size: 22px;
    line-height: 35px;
    color: #003399;
  }
  &__item-text {
    font-size: 15px;
    line-height: 25px;
    margin: 20px 0;
  }
  &__item-price {
    font-size: 25px;
    margin-bottom: 25px;
  }
  &__item-footer {
    display: flex;
    margin: 0 -30px;
    margin-bottom: -30px;
    border-top: 1px solid #cad5eb;
  }
  &__item-btn {
    background-color: $blue;
    padding: 10px 0px;
    width: 200px;
  }
  &__item-like {
    border-right: 1px solid #cad5eb;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img.default {
      display: block;
      width: 28px;
      height: 28px;
    }
    img.active {
      display: none;
      width: 28px;
      height: 28px;
    }
  }
  &__item-like.active {
    img.active {
      display: block;
    }
    img.default {
      display: none;
    }
  }
  &__item-change {
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      width: 28px;
      height: 28px;
    }
  }
  &__item-buy {
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    padding-left: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../images/icons/cart-plus.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 15px;
      height: 15px;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    margin-left: 40px;
  }

  &__pagination-item {
    a {
      padding: 10px 15px;
      color: #fff;
      background-color: $blue;
      margin-right: 5px;
      line-height: 18px;
    }
    span {
      padding: 7px 15px;
      background-color: #fff;
      color: $blue;
      margin-right: 5px;
      border: 2px solid $blue;
      line-height: 18px;
    }
  }
}

.product-wrapper__inner {
  display: flex;
}

.product__inner {
  display: flex;
  align-items: flex-start;
}

.product-main {
  max-width: 620px;
  width: 100%;
  margin-right: 30px;

  &__images-wrapper {
    display: none;
  }
  &__images-wrapper.open {
    display: block;
  }
  &__images-main {
    width: 100%;
    padding: 50px 0;
    border: 1px solid #cad5eb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  &__images-secondary {
    display: flex;
    margin-bottom: 50px;
  }
  &__images-box {
    width: 80px;
    height: 80px;
    border: 2px solid #cad5eb;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.open {
      border: 2px solid $blue;
    }
    img {
      width: 55px;
      height: 55px;
    }
  }

  &__tabs-menu {
    display: flex;
    font-size: 22px;
    font-weight: 500;
  }
  &__tabs-button {
    color: $blue;
    padding-bottom: 10px;
    position: relative;
    margin-right: 50px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  &__tabs-button.open {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      background-color: $orange;
    }
  }
  &__tabs-item {
    display: none;
    color: #000;
    font-weight: 700;
    margin-bottom: 50px;

    &.open {
      display: block;
    }
  }
}
.product-info {
  max-width: 370px;
  width: 100%;
  background-color: #d3e5ff;
  color: #000;
  font-weight: 300;
  padding: 20px;

  &__content {
    div {
      display: flex;
    }
    span {
      font-weight: 700;
      margin-left: 4px;
    }
    input {
      width: 170px;
      border: 1px solid #cad5eb;
      margin-left: 20px;
      margin-bottom: 30px;
      padding: 5px;
    }
  }
  &__company span {
    color: $blue;
  }
  &__buttons {
    background-color: #fff;
    margin-bottom: 20px;
    max-width: 125px;
    border: 1px solid #cad5eb;
    display: flex;
    height: 50px;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    color: $blue;
  }
  &__button {
    background-color: $blue;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/cart-plus.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 15px;
      height: 15px;
      background-position: center;
      left: 46px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__price {
    margin: 24px 0;
    font-size: 24px;
  }
  &__rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__rate-stars {
    background-color: #fff;
    width: 90px;
    height: 15px;
  }
  &__rate-link {
    font-weight: 700;
    font-size: 14px;
  }
  &__rate-link a {
    text-decoration: underline;
  }
}

.product-recomendation {
  margin-bottom: 150px;
  &__inner {
    display: flex;
  }

  .title {
    color: $blue;
    margin-left: 0;
  }

  .catalog__item {
    color: #000;
  }
}

.faq {
  margin-bottom: 140px;
  &__title {
    color: $blue;
    margin-top: 45px;
    margin-left: 0;
  }

  &__name {
    font-size: 18px;
    line-height: 35px;
    color: #fff;
    width: 100%;
    min-height: 60px;
    background-color: #3a50a7;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .3s;

    img {
      width: 30px;
      height: 30px;
      transition: all .3s;
      transform: rotate(0deg);
    }

    &.open {
      background-color: #152873;
      transition: all .3s;

      img {
        transform: rotate(180deg);
        transition: all .3s;
      }
    }
  }
  &__content {
    display: none;
    background-color: #5a6079;
    margin: 0 30px;
    padding: 25px 35px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 50px;
    margin-top: 22px;
    padding-bottom: 45px;
  }
}

.contacts {
  color: #000;
  &__title {
    color: $blue;
  }
}

@import "media";
